<div class="row">
    <form>
        <div class="col-sm-3">
            <fieldset class="form-group">
                <label>From</label>
                <input #originInput
                       (change)="setOrigin(originInput.value)"
                       [typeahead]
                       placeholder="Airport code" type="text" class="form-control">
            </fieldset>
        </div>
        <div class="col-sm-3">
            <fieldset class="form-group">
                <label>To</label>
                <input #destinationInput
                       (change)="setDestination(destinationInput.value)"
                       [typeahead]
                       placeholder="Airport code" type="text" class="form-control">
            </fieldset>
        </div>
        <div class="col-sm-3">
            <fieldset class="form-group">
                <label>When</label>
                <input #dateInput
                       (change)="setDate(dateInput.value)"
                       [value]="getCurrentDate()"
                       placeholder="Date" type="date" class="form-control">
            </fieldset>
        </div>
        <div class="col-sm-1">
            <fieldset class="form-group">
                <label>Solutions</label>
                <input #solutionsInput
                       (change)="setSolutions(solutionsInput)"
                       [value]="getSolutions()"
                       placeholder="Qty." type="text" class="form-control">
            </fieldset>
        </div>
        <div class="col-sm-2">
            <button (click)="search()" type="button" class="search btn btn-default">Search</button>
        </div>
    </form>
</div>